body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #212121;
    color: #333;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #555;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #133E87;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0e2a5b;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #133E87;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td {
    color: #555;
}

p {
    font-size: 14px;
    position: relative;
    color: #ffffff;
    text-align: center; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
